NEXT_PUBLIC_API_URL=http://localhost:8000

# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXNzdXJpbmctYm9iY2F0LTI2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_8QxkVxZ6YWhfdUr1bZ4Fvd9Qwwg4clICmCr1DeqiMq
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_ADMIN_EMAILS="admin@civicpulse.org,dynamicphillic77777@gmail.com,sahiladvani22122005@gmail.com"