fastapi
uvicorn
boto3
langchain
opensearch-py
pydantic
python-multipart
tiktoken
unstructured
requests
beautifulsoup4
langchain-text-splitters
python-jose[cryptography]
python-dotenv
openai
elevenlabs

